header {
    @include between;
    gap: 20px;
    padding: 25px 25px 0 25px;
    position: relative;

    @media screen and (min-width: 768px) {
        padding: 0 0 0 40px;
    }
    @media screen and (min-width: 1024px) {
        padding: 0 0 0 50px;

        &::after {
            content: "";
            width: 26%;
            height: 1px;
            background: rgba(151, 151, 151);
            backdrop-filter: blur(100px);
            position: absolute;
            top: 50%;
            left: 27%;
            transform: translate(-50%, -50%);
            z-index: 1000;

            @media screen and (min-width: 1440px) {
                width: 28%;
                left: 25%;
            }
        }
    }

    .logo {
        display: flex;
        position: relative;
        height: 40px;
        width: 40px;
    }
}