header {
    @include between;
    gap: 20px;
    margin-bottom: 50px;
    padding: 25px 25px 0 25px;
    position: relative;

    @media screen and (min-width: 768px) {
        margin-bottom: 100px;
        padding: 0;
    }

    .logo {
        display: flex;

        @media screen and (min-width: 768px) {
            padding-left: 40px;
        }
    }
}