.main-destination {
    padding: 0 25px 25px 25px;
    text-align: center;

    section {
        @include center;
        flex-direction: column;
        gap: 25px;

        .pick {
            color: white;
            font-size: 1rem;
            font-family: $barlowCondensed;
            font-weight: 200;
            letter-spacing: 2.7px;
            text-transform: uppercase;
    
            span {
                color: rgb(151, 151, 151, 0.5);
                font-weight: 700;
                margin-right: 15px;
            }
        }
        .star-presentation {
            @include center; 
            flex-direction: column;
            gap: 20px;

            .star-img-container {
                width: 150px;
                height: 150px;
                display: flex;
                animation: starRotation 40s infinite linear;
    
                img {
                    width: 100%;
                }
            }
            .star-description {
                .title-star {
                    color: white;
                    font-family: $bellefair;
                    font-size: 3.5rem;
                    font-weight: 400;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
                .text-star {
                    color: $textColor;
                    font-family: $barlow;
                    font-size: 0.95rem;
                    line-height: 23px;
                }
            }
        }
        .journey-container {
            position: relative;
            padding-top: 25px;

            &::before {
                content: "";
                background: rgba(151, 151, 151, 0.5);
                height: 1px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .distance {
                margin-bottom: 30px;
            }
            .title-journey {
                color: $textColor;
                font-family: $barlowCondensed;
                font-size: 0.9rem;
                font-weight: 400;
                letter-spacing: 2.35px;
                text-transform: uppercase;
                margin-bottom: 8px;
            }
            .text-journey {
                color: white;
                font-family: $bellefair;
                font-size: 1.75rem;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}