.crew-main {
    margin-top: 30px;
    padding: 0 23px;

    .section-crew {
        @include center;
        flex-direction: column;
        gap: 25px;
        text-align: center;

        .carrousel-container {
            @include center;
            flex-direction: column;
            gap: 25px;

            .crew-img-container {
                width: 100%;
                @include center;
                border-bottom: 1px solid rgb(151, 151, 151, 0.5);

                .crew-img {
                    width: 175px;

                    &.display {
                        display: block;
                    }
                    &.hide {
                        display: none;
                    }
                }
            }
        }
    }
}