@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

$bellefair: "Bellefair", serif;
$barlow: "Barlow", sans-serif;
$barlowCondensed: "Barlow Condensed", sans-serif;
$black: #0B0D17;
$textColor: #D0D6F9;
$bgMenu: rgba(151, 151, 151, 0.04);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    background-image: url("/src/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    height: 100dvh;

    @media screen and (min-width: 375px) and (max-width: 1024px) {
        background-image: url("/src/assets/home/background-home-tablet.jpg");

    }
    @media screen and (min-width: 1024px) and (max-width: 2560px) {
        background-image: url("/src/assets/home/background-home-desktop.jpg");

    }
}
#root {
    @media screen and (min-width: 1024px) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}